Imagenes

# Archivos de configuración y binarios
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.log

# Archivos de diseño auto-generados
*.Designer.cs
*.resx

# Archivos de VS
.vscode/
*.vs/

# Archivos temporales de Git
*.orig
